/* Global styles */
a {
  text-decoration: none;
}

:link, :visited {
  color: #000;
}

a:hover {
  color: #999;
}

/* App styles */

body{
  text-align: center;
  background: #888;
}

#page-wrap{
  width: 960px;
  text-align: left;
  margin: 0 auto;
}

header{
  position: fixed;
  width: 960px;
  height: 90px;
  background: #5b6c7f;
}

header div{
  height: 60px;
}

h1{
  margin-left: 20px;
  color: #fff;
  font: 50px impact, sans-serif;
}

span {
  margin-left: 16px;
  font: italic 20px Arial, sans-serif;
}

nav {
  height: 30px;
  width: 960px;
  font: 20px impact, sans-serif;
  background: #fff;
}

nav li {
  display: inline-block;
  margin-left: 100px;
  margin-right: 40px;
}


section{
  width: 960px;
  height: 2000px;
  padding-top:90px;
  background: #999;
}

aside{
  width: 120px;
  height: 2000px;
  float:left;
}

.banner{
  width: 720px;
  height: 300px;
  margin-top: 20px;
  float: left;
}

.block{
  width: 300px;
  height: 200px;
  float: left;
  padding: 30px;
}

.anchor{
  display: block;
  height: 90px;
  margin-top: -90px;
  visibility: hidden;
}

p{
  margin:20px;
}

h2 {
  font: 30px impact, sans-serif;
}

section ul{
  margin: 20px;
  list-style: square;
}

section li{
  margin: 15px;
  font: 16px arial, sans-serif;
}

img {
  outline: solid 10px #888;
}

.large {
  width: 720px;
  height: 300px;
}

.small {
  width: 330px;
  height: 200px;
}
